/* Initial body */
body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* Initial menu */
.menu {
    background: #000000;
    height: 100%;
    position: fixed;
    width: 285 px;
}

#menu {
  left: -285px;  /* start off behind the scenes */
  z-index: 4;
}

#bio {
  right: -285px;  /* start off behind the scenes */
  z-index: 1;
}

/* Basic styling */

.jumbotron {
  background-repeat: no-repeat;
  height: 100%;
  -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
       -o-filter: grayscale(100%);
          filter: grayscale(100%);
}

ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  z-index: 4;
}

.icon {
  color: #C0C0C0;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  position: fixed;
  left: 0px;
  top: 0px;
  padding-bottom: 25px;
  padding-top: 25px;
}

#icon-menu {
  padding-left: 25px;
}

#icon-bio {
  padding-right: 25px;
}

#icon-menu i {
  margin-right: 5px;
}

#icon-bio i {
  margin-left: 5px;
}

#player {
    position: fixed;
    margin-left: -45%;
    margin-top: 20%;
    z-index: 1;
}

#video-box {
    position: fixed;
    height: 40%;
    z-index: 1;
    border: none;
}

#video-box iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid black;
    border-radius: 8px 8px 8px 8px;
    clear: both;
}

#oval {
	width: 200px;
	height: 10%;
	background: black;
	-moz-border-radius: 0px 0px 155px 155px/0px 0px 150px 150px;
	-webkit-border-radius: 0px 0px 155px 155px/0px 0px 150px 150px;
	border-radius: 0px 0px 155px 155px/0px 0px 150px 150px;
        border: 10px solid black;
        position: fixed;
        z-index: 2;
}

#oval img {
    position: fixed;
    background: white;
    cursor: pointer;
    visibility: none;
}

.hover {
    background-color: rgb(173,216,230);
}

.selected {
    background-color: rgb(115,106,255);
}